/* benefits */

.benefits__list {
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  // @include mq(desktop) {
  //   margin-right: 0px;
  // }
}

.benefits__item {
  // margin-right: 30px;

  @include mq(mobile-only) {
    width: 100%;
    margin-bottom: 30px;
  }

  @include mq(tablet) {
    flex-basis: 354px;
  }

  @include mq(desktop) {
    flex-basis: 270px;
  }

  &:last-child {
    @include mq(mobile-only) {
      margin-bottom: 0;
    }
  }
}

.benefits__box {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-bg-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits__title {
  color: var(--primary-text-color);

  font-weight: var(--bold-weight);
  font-size: var(--small-size);
  line-height: 1.14;
  letter-spacing: var(--main-ls);
  text-transform: uppercase;

  margin-bottom: 10px;

  @include mq(mobile-only) {
    text-align: center;
  }
}

.benefits__description {
  font-size: var(--small-size);
  line-height: 1.71;
  letter-spacing: var(--main-ls);
}
