.client__list {
  display: flex;
  gap: 30px;
  justify-content: center;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);

  transition: color var(--animation), border var(--animation);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.client__item {
  @media screen and (max-width: 1199px) {
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.client__icon {
  display: block;
  width: 106px;
  height: 60px;
  fill: currentColor;
}
