/* Hero */

.hero {
  background-color: var(--background-hero);
  text-align: center;
  padding: 118px 0;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  margin-left: auto;
  margin-right: auto;

  // Mobile bgi
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-s.jpg);

  @include mq(retina) {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero@2x-s.jpg);
  }

  // Tablet bgi
  @include mq(tablet) {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-m.jpg);

    @include mq(retina) {
      background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero@2x-m.jpg);
    }
  }

  // Desktop bgi
  @include mq(desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero.jpg);

    @include mq(retina) {
      background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero@2x.jpg);
    }
  }
}

.hero__title {
  color: var(--second-color);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: var(--secondary-ls);
  text-transform: uppercase;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  @include mq(tablet) {
    width: 360px;
  }

  @include mq(desktop) {
    font-size: 44px;

    width: 696px;
  }
}

.button {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--second-color);
  font-weight: var(--bold-weight);
  font-size: var(--medium-size);
  line-height: 1.88;
  letter-spacing: var(--secondary-ls);

  border-radius: 4px;
  border: 0;

  min-width: 200px;
  padding: 10px 30px;

  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--hover-background);
  }
}
