/* footer */
.footer__container {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer {
  text-decoration: none;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.help {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    margin-bottom: 60px;
  }
}

.footer__address {
  // @media screen and (min-width: 768px) {
  //   margin-left: 76px;
  //   margin-right: 165px;
  // }

  @media screen and (min-width: 1200px) {
    width: 231px;
    margin-right: 70px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.footer__list {
  margin-top: 20px;
}

.footer__adress-link {
  color: var(--second-color);
  font-style: normal;
  font-weight: 400;
  font-size: var(--small-size);
  line-height: 1.17;
  letter-spacing: var(--main-ls);

  display: inline-block;

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: var(--small-size);
  line-height: 1.71;
  letter-spacing: var(--main-ls);

  display: inline-block;

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__social-media {
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.footer__subtitle {
  font-weight: var(--bold-weight);
  font-size: var(--small-size);
  line-height: 1.14;
  letter-spacing: var(--main-ls);
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 20px;
}

.footer__socials {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--animation);

  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
}

.footer__socials-icon {
  fill: var(--second-color);
}

.footer__box {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer__input {
  width: 100%;
  height: 50px;
  max-width: 450px;

  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  padding: 15px 16px;

  color: var(--second-color);

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 358px;
    margin-right: 12px;

    flex-shrink: 0;
  }
}

.footer__button {
  display: flex;
  align-items: center;
  // flex-shrink: 0;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__icon {
  fill: var(--second-color);
  margin-left: 10px;
}
